*{
    margin: 0;
    padding: 0;
}
.img-principal{
    background-image: url("../images/girasol-principal.jpg");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 5;
    position: fixed;
    opacity: 0.9;
    /* width: 1920px;
    height: 969px; */
    /* Backgroun size conter:Prioriza la imagen sobre la sispocición de la pantalla
       Bacground size cover: cubre toda la pantalla */
}
.form-box{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    width: 350px;
    height: 450px;
    background-color:rgb(64, 64, 64, .6);
    border-radius: 15px;
}
.box-user{
    color: aliceblue;
    font-size: 130px;
}
.icon-user{
    width:140px;
    height: 140px;
    background-color: rgb(48, 48, 48, .9);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
    margin-left: 90px;
}
/* input[type=text] input[type=password]{
    font-size: 15em;
    z-index: 11;
} */
 
.icon-user1{
    z-index: 11;
    color: aliceblue;
}
.box-user span{
    font-size: 90px;
    text-align: center;
}
.texto h1{
    width: auto;
    height: 80px;
    margin-top: 5px;
}
.ct{
    display: flex;
    justify-content: center;
    color: aliceblue;
}
.usuario{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 20px;
    color: aliceblue;
    margin-bottom: 60px;
    

}
.input-text1 {
    margin-bottom: 25px;
}

.contraseña{
    border-radius:4px;
    text-align: center;
    width: auto;
    height: 20px;
    color: aliceblue;


}
.nombre{
    text-align: center;
    border-radius: 4px;
    width: auto;
    height: 20px;

}
i{
    color: rgb(255, 246, 246);
}
input{
    background-color: transparent;
    border: none;

}
input[type="text"], input[type="password"]{
    outline: none;
}
input [placeholder="usuario"]{
    color: aliceblue;
}
.olvido{
    display: flex;
    justify-content: center;
    color: aliceblue;
    margin-top: 20px;
}
button{
    background-color: rgba(240, 248, 255, 0.63);
    width: 200px;
    height: 40px;
    border-radius: 12px;
}
.boton{
    margin-top: 40px;
}
::placeholder{
    color: aqua;
}