body{
    background-image: url(../images/0001.jpg);
    background-size:cover;
}

a{
    color: aliceblue;
}
.Nombre1{
    color: aliceblue;
}
.Nombre{
    color: aliceblue;
    padding-bottom: 2em;
}
.fuentes {
    width: 150px;
    height: 155px;
    border: 1px solid white;
    text-align: center;
}

.colors{
    width: 155px;
    height: 155px;
    border: 1px solid white;
    text-align: center;
}

.bordes{
    width: 150px;
    height: 150px;
    color: white;
    border: 1px solid white;
    text-align: center;
}

.tablas{
    width: 155px;
    height: 155px;
    border: 1px solid white;
    text-align: center;
}

.contgeneral{
    display: flex;
    margin-inline-start: 20%;
}
.contgenera2{
display: flex;
margin-inline-start: 20%;}

.catalogo{
    width: 155px;
    height: 150px;
    border: 1px solid white;
    text-align: center;
}
.sombras{
    width: 155px;
    height: 155px;
    border: 1px solid white;
    text-align: center;
}
.piramide{
    width: 155px;
    height: 155px;
    border: 1px solid white;
    text-align: center;
}
.Formulario{
    width: 155px;
    height: 155px;
    border: 1px solid white;
    text-align: center;
}
.Formulario1{
    width: 155px;
    height: 155px;
    border: 1px solid white;
    text-align: center;
}